.footer {
    background-color: var(--color-footer);
}

.footer__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 32px 32px 52px;
}

.footer__start {
    color: var(--color-bg-light);
    margin: 32px 0;
}

.footer__points {
    display: flex;
    gap: 32px;

    padding: 0;
    list-style: none;
}

.footer__points__item {
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-bg-light);

    padding: 10px 24px;
    border: 2px solid var(--color-bg-light);
    border-radius: var(--border-32);

    transition: tramsform 0.5s ease;
    display: inline-block;
}

.footer__points__item:hover {
    transform: scale(1.05);
}

@media (max-width: 560px) {
    .footer__points {
        flex-direction: column;
        align-items: start;
    }
}